<div class="user_create">
  <div class="field">
    <%= f.text_field :name, :placeholder => 'name' %>  
		<div id="error_explanation">
			<% unless display_error(:name).blank? %>
      	name <%= display_error(:name) %>
    	<% end %> 
    	
    </div>
  </div>
</div>

<br/>